POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=university_courses
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/university_courses
ENROLLMENT_TEMPLATE_PATH=C:\Users\iliya\Downloads\Dokumenty\Шаблон приказ о зачислении.docx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_account@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_account@gmail.com
SMTP_FROM_NAME=Факультет компьютерных наук
SMTP_USE_TLS=true
SMTP_USE_SSL=false
