DATABASE_URL=sqlite:///./university_courses.db
# Для PostgreSQL используйте:
# DATABASE_URL=postgresql://user:password@localhost/dbname
ENROLLMENT_TEMPLATE_PATH=C:\Users\iliya\Downloads\Dokumenty\Шаблон приказ о зачислении.docx
